@font-face {
  font-family: "Needle Work";
  src: url("../fonts/NeedleworkMurmurationsVF.ttf") format('truetype');

}

body {
  margin: 32px;
  background-color: #EDE6D3;
  font-family: Arial !important;
}
