@font-face {
  font-family: "Needle Work";
  src: url("../fonts/NeedleworkMurmurationsVF.ttf") format('truetype');
}

@font-face {
  font-family: "Heirloom Garden";
  src: url("../fonts/Heirloom-Garden.otf") format("opentype")
}


@font-face {
  font-family: "Heirloom Home";
  src: url("../fonts/Heirloom-Home.otf") format("opentype")
}


@font-face {
  font-family: "Heirloom Seaside";
  src: url("../fonts/Heirloom-Seaside.otf") format("opentype")
}

body {
  margin: 32px;
  background-color: #F8F4E9;
}
